.leaflet-popup.default .leaflet-popup-close-button,
.leaflet-popup.warning .leaflet-popup-close-button,
.leaflet-popup.danger .leaflet-popup-close-button {
  color: white;
}

.leaflet-popup.default .leaflet-popup-content-wrapper,
.leaflet-popup.default .leaflet-popup-tip {
	background-color: rgba(0,255,0,.8);
  color: white;
}

.leaflet-popup.warning .leaflet-popup-content-wrapper,
.leaflet-popup.warning .leaflet-popup-tip {
	background-color: rgba(255,127,0,.8);
  color: white;
}

.leaflet-popup.danger .leaflet-popup-content-wrapper,
.leaflet-popup.danger .leaflet-popup-tip {
	background-color: rgba(255,0,0,.8);
  color: white;
}
